body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #343436;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 234px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 234px;
}

.square:focus {
  outline: none;
}

.square:hover{
  cursor: pointer;
  border: 5px solid red;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  color:#ffffff;
}

.game-info li a{
  color: #f1f1f1;
}

.game-board{
  margin:0px auto;
}

.header-text{
  color:#ffffff;
  font-weight: bold;
  font-size: 32px;
}